<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block stylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/picweek/css/main.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/picweek/css/jquery-ui/ui-lightness/jquery-ui-1.8.21.custom.css') }}" type="text/css" media="all" />
    {% endblock %}

    {% block headJavascripts %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
    <script src="{{ asset('bundles/picweek/js/jquery/jquery-ui-1.8.21.custom.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/picweek/js/main.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#overlay").overlay({
                mask: '#000',
            });
            $(".btJoin").click(showUserJoinForm);
            $(".btLogin").click(showUserLoginForm)


        });

        function showUserJoinForm() {
            $.ajax({
                url: '{{ path('fos_user_registration_register') }}'
            }).done(function(response){
                $("#overlayContent").html(response);
                $("#overlay").overlay().load();
            });
        }
        function showUserLoginForm() {
            $.ajax({
                url: '{# {{ path('_user_login') }} #}'
            }).done(function(response){
                $("#overlayContent").html(response);
                $("#overlay").overlay().load();
            });
        }
    </script>
    {% endblock %}

    <title>{% block title %}Picnick Break{% endblock %}</title>
    </head>
    <body>
        <header>
            <div id="main">
                <div class="title"><a href="{{ path('_welcome') }}">Picnick Break</a></div>
                <nav>
                    <ul>
                        <li class="{% if app.request.attributes.get('_route') == '_welcome' %}active{% endif %}" >
                            <a href="{{ path('_welcome') }}">
                             Home
                             </a>
                        </li>

                        <li class="{% if app.request.attributes.get('_route') == '_place_map' %}active{% endif %}">
                            <a class="explore" href="{{ path('_place_map') }}">Explore</a>
                        </li>
                        <li>
                            <a class="about" href="">About</a>
                        </li>
                        <li>
                            <a class="blog" href="">Blog</a>
                        </li>
                    </ul>
                </nav>
                <div class="connect">
                <a class="btJoin" href="javascript:void(0);">Join</a> or <a class="btLogin" href="javascript:void(0);">Login</a>
                </div>
                <div class="clear"></div>
            </div>
        </header>
        <div id="middle">


            <!-- <div id="nbPlaces">Nombre d'emplacement enregistrés : {% render "PicweekMainBundle:Place:count" %}</div> -->
            <div id="subheader">
                {% block subheader %}
                {% endblock %}
            </div>
            <div class="clear"></div>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <footer>
            <div id="copyright" class="clear">Copirygth &copy;{{ "now"|date("Y") }} Picnick Break. All Rights Reserved.</div>
        </footer>
        {% block javascripts %}
        {% endblock %}
        <div id="overlay">
            <div id="overlayContent"></div>
        </div>
    </body>
</html>
