{% extends "PicweekMainBundle::layout.html.twig" %}

{% block headJavascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" >
    $(document).ready(function(){

        var positionPlace = new google.maps.LatLng("{{ place.latitude }}", "{{ place.longitude }}");

        var myOptions = {
            center: positionPlace,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            streetViewControl: false,
            panControl: false,
            zoom: 10,
        };

        var map = new google.maps.Map(
            document.getElementById('gmap'), myOptions
        );

        var marker = new google.maps.Marker({
            animation : google.maps.Animation.DROP,
            map: map,
            position: positionPlace
        });

    });
    </script>
{% endblock %}

{% block subheader %}
    <div style="position: relative;">
        <div id="gmap" style="height: 300px;"></div>
    </div>
{% endblock %}

{% block content %}
    <div class="place">
        <div class="infos">
            <div class="title">{{ place.name|capitalize }}</div>
             <div class="info">BlaBlaBla</div>

            <div class="title">Informations complémentaires</div>
            <div class="info">{{ place.info }}</div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
