{% extends "PicweekMainBundle::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css">
<!--
    #subheader{
        display: none;
    }
-->
</style>
{% endblock %}

{% block content %}
<h1>Change password</h1>
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    <ul>
        <li>
            <div class="text-box">
                {{ form_widget(form.current, { 'attr': {'placeholder': 'Current password'} }) }}
            </div>
        </li>
        <li>
            <div class="text-box">
                {{ form_widget(form.new.first, { 'attr': {'placeholder': 'New password'} }) }}
            </div>
        </li>
        <li>
            <div class="text-box">
                {{ form_widget(form.new.second, { 'attr': {'placeholder': 'Retype password'} }) }}
            </div>
        </li>
        <li>
            {{ form_widget(form) }}
            <div class="text-box">
                <input type="submit" name="submit" value="Change password"/>
            </div>
        </li>
    </ul>
</form>
{% endblock %}
