{% extends "PicweekMainBundle::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css">
<!--
    #subheader{
        display: none;
    }
-->
</style>
{% endblock %}

{% block headJavascripts %}
{{ parent() }}
<script type="text/javascript">
<!--
    $(document).ready(function(){
        $("#profile #btEdit").click(function(){
            var url = "{{ path('fos_user_profile_edit') }}";
            $(location).attr('href', url);
        });

        $("#profile #btPassword").click(function(){
            var url = "{{ path('fos_user_change_password') }}";
            $(location).attr('href', url);
        });
    });
//-->
</script>
{% endblock %}

{% block content %}
    <h1>Profile</h1>
    <div id="profile" class="cadre">
        <p><span class="title">Username :</span> {{ user.username }}</p>
        <p><span class="title">Email :</span>     {{ user.email }}</p>
        <p><span class="title">Location :</span>     {{ user.location }}</p>
        <input type="button" value="Edit" name="edit" id="btEdit">
        <input type="button" value="Change password" name="password" id="btPassword">
    </div>
{% endblock %}
